<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <% form.label :name %>
    <%= form.text_field :name, class: 'form-control mb-3', placeholder: 'Name' %>
  </div>

  <div class="field form-group">
    <% form.label :phone %>
    <%= form.text_field :phone, class: 'form-control mb-3', placeholder: 'Phone' %>
  </div>

  <div class="field form-group">
    <% form.label :email %>
    <%= form.text_field :email, class: 'form-control mb-3', placeholder: 'email' %>
  </div>

  <div class="field form-group">
    <% form.label :email %>
    <%= form.number_field :user_id, id: :friend_user_id, class: 'form-control mb-3', placeholder: 'email', value: current_user.id, type: :hidden %>
  </div>
<%=%>
  <div class="actions">
    <%= form.submit class: 'btn btn-secondary mb-3' %>
  </div>
<% end %>
